/*box sizing*/
* {
    box-sizing: border-box;
}

    *:before,
    *:after {
        box-sizing: border-box;
    }

html,
body {
    height: 100%;
    position: relative;
}

p {
    text-align: center;
}

.App {
    /*text-align: center;*/
    font-family: Quicksand, sans-serif;
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 10px; /* height of your footer */
}

.center { text-align: center; }


/*-----------------------------------------------------
    FOOTER STYLE
-------------------------------------------------------*/
footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: #333;
    color: #888;
    padding: 20px 3px 5px;
}

/*trying to center author credits*/
.row, .author {
    /*display: grid;*/
    margin: 0 auto;
}

/*display items in columns*/
.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

/*get rid of list styles for social links*/
.social-links {
    list-style: none;
    font-size: 35px;
}

/*display links list as an inline block and make sure they're side by side*/
.social-links li {
    display: inline-block;
    margin-right: 20px;    
}

.social-links li a, .credits a {
    color: #888;
    transition: color 0.2s ease-in-out;
}

.social-links li a:hover, .credits a:hover {
    color: #545454;
}

.credits {
    font-size: 10px;
    margin: 0 auto;
}

/*get rid of title attribute in ion-icon so it won't show tool tip by mouse*/
ion-icon {
    pointer-events: none;
}


/*-----------------------------------------------------
    NAVBAR STYLE
-------------------------------------------------------*/

.navbar.navbar-inverse .navbar-header .navbar-brand {
    display: block;
    text-align: center;
    float: none;
    vertical-align: top;
}

.navbar.navbar-inverse .navbar-header {
    float: none;
}