/*box sizing*/
* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

*:focus, button:focus, button {
    outline: none;
}

html,
body {
    height: 100%;
    position: relative;
}

p {
    text-align: center;
}

.link, .link:hover {
    color: black;
    text-decoration: none;
}

.App {
    /*text-align: center;*/
    font-family: Quicksand, sans-serif;
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 150px; /* height of your footer */
}

/*centering*/
.center { text-align: center; }


/*general button style*/
button, input[type="button"], input[type="submit"] {
    background: none;
    border: none;
}
.search-icon:focus, .user-icon:focus, .logcrea-btn:focus {
    outline: none;
}

.side-by-side {
    display: inline-block;
}

/*-----------------------------------------------------
    FOOTER STYLE
-------------------------------------------------------*/
footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: #333;
    color: #888;
    padding: 20px 3px 5px;
}

/*trying to center author credits*/
.row, .author {
    display: table;
    margin: 0 auto;
}

/*display items in columns*/
.col {
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

/*get rid of list styles for social links*/
.social-links {
    list-style: none;
    font-size: 35px;
}

/*display links list as an inline block and make sure they're side by side*/
.social-links li {
    display: inline-block;
    margin-right: 20px;    
}

.social-links li a, .credits a {
    color: #888;
    transition: color 0.2s ease-in-out;
}

.social-links li a:hover, .credits a:hover {
    color: #545454;
}

.credits {
    font-size: 10px;
    margin: 0 auto;
}

/*get rid of title attribute in ion-icon so it won't show tool tip by mouse*/
ion-icon {
    pointer-events: none;
}

/*-----------------------------------------------------
    NAVBAR STYLE
-------------------------------------------------------*/

.nav-brand {
    padding-left: 200px;
}

/*----Search----*/
.search-icon {
    display: inline-block;
    margin-right: 30px;
}

.search-bar {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #d8d5d5;
    border-radius: 5%;
    width: 250px;
    font-size: 15px;
}

/*-----------------------------------------------------
    HOME/MAIN STYLE
-------------------------------------------------------*/
.dashboard {
    margin: 25px;
    text-align: center;
}


/*-----------------------------------------------------
    CATEGORY STYLE
-------------------------------------------------------*/
.category-box {
    background-color: #EBEBEB;
    margin: 70px auto;
    width: 100%;
    /*flexbox with a column direction (elements in this will be displayed in columns in their own boxes)*/
    display: flex;
    flex-direction: column;
    border: 1px solid #efefef;
    box-shadow: 2px 3px 3px rgba(0,0,0,0.15);
    padding: 30px;
}

/*-----------------------------------------------------
    LOGIN CREATE STYLE
-------------------------------------------------------*/
.login-create {
    background-color: #a49f9d;
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
}

/*Create a box model for this div and center it*/
/*https://stackoverflow.com/questions/2498003/center-a-div-box-in-the-middle-of-the-page-using-css*/
/*https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/*/
.logcrea-box {
    background-color: whitesmoke;
    padding: 100px 0px 100px;
    box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.15);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logcrea-greeting {
    padding-bottom: 80px;
}

.logcrea-btn {
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    border: 1px solid;
    transition: transform .1s;
}

.logcrea-btn:hover {
    transform: scale(1.05);
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
}

.or { padding: 15px 0px 5px; }
.light-blue { background-color: #BEE0FD; }
.light-grey { background-color: #C6C6C6; }